html, body {
  margin: 0px;
  padding: 0px;
  cursor: url(normal.cur), default;
}

.cross{
/*    transition: .1s;*/
    margin-top: -5px;
    position: fixed;
    background: rgba(0255,0255,0255,0.9);
/*    font-family: sans-serif*/
/*    padding-right: 100% */
        width:100%;
/*    margin-left: 10px;*/
/*    transform: rotate(-50deg);*/

}
.total{
    margin-top: 0px;
  position: relative;
  transition: all .3s ease-out;
  background: #ffffff;
  height: 100%;
    animation-name: example;
  animation-duration: 2s;
}

@keyframes example {
  0%   {background-color:white; left:0px; margin-top:120%;}
  
    100% {background-color:white; left:0px; margin-top:0%;}
}
.cross:active{
    transform: rotate(-180deg);
    position: fixed;
}
#lgo{
    font-family: sans-serif;
    font-size: 30px;
/*    width:100%;*/
    margin-left: 10px
}
.p_image{
    width : 60%;
max-height: 300px;
    margin-top: 15%;
        margin-bottom: 5%;

    max-width: 250px;
}


h1{
    word-wrap: break-word;
    margin-left: 8%;
    font-family: sans-serif;
    color : #1e1d1d;
/*    position:fixed*/
    text-align: left;
    font-size: 28px;
    
}

.quantity{
    background: white;
 border: 1px solid gray   ; 
    padding: 4px;
padding-left: 35px;
    padding-right: 30px;
    padding : 10px;
/*    margin-left: 30px;*/
    border-radius: 20px;
    font-size: 20px;
outline:0px;
    font-family: sans-serif;
/*    font-weight: 700;*/
}
.quantity:focus{
    border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
}
.quantity::b{
    content:"jhe"
}
.product{
/*    margin-top: */
    background: #a0e0e0;
    border-radius: 10px;
}
#bbg{
    position: absolute;
    margin-top : 20%;
        margin-left : 5%;
    text-align: center;
font-size: 100px;
    font-family: sans-serif;
    color : rgba(255,255,255,0.4);
}
.price{
    font-family: sans-serif;
/*    font-weight: lighter;*/
    display:inline-block;
    margin-left: 45%;
    font-size: 30px;
    margin-top: -30px;
    color:orange;
    
}
.price::before{
    content: "₹"
}

.content{
    width:90%;
/*    height : 100px;*/
    overflow:scroll;
/*        margin-left: 30px;*/
margin-top: -30px;
    text-align: left;
    font-family: sans-serif;
    color:gray;
}
.content::-webkit-scrollbar{
    display:none;
}
h3{
/*        margin-left: 30px;;*/
font-size: 21px;
    font-family: sans-serif;
    color:#2b2929;
        margin-top: -0px;
text-align: left;
    margin-left : 5%
}

.foot{
    background: white;
    position: fixed;
    bottom : 0;
    width:100%;
    padding-bottom: 20px;
    padding-top: 10px
}

#cart{
    width:55px;
    height : 55px;
    font-size: 26px;
    border-radius: 65px;
    border : 1px solid gray;
    outline:none;
    background: white;
        margin-left: 5%;
/*    ba:red;*/
}

.fake{
/*        margin-left: 30px;*/
    border:1px solid black;
    width : 80%;
border-radius: 8px;
/*        background: #FDBC40;*/

}

#pi{
/*    color : red;*/
    border:0px;
    height : 35px;
            padding-left: 3px;
outline: 0px;
    font-size: 19px;
    width : 74%;
    border-radius: 8px;
outline: 0px;
    padding: 10px
}
#search{
        padding-right: 24px;
            padding-bottom: 2px;
text-align: center;
/*    width :10%;*/
        height : 55px;
    background: #FDBC40;
    font-size: 18px;
    border: 0px;
    border-left: 1px solid black;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
outline: 0px;

}
.bdy{
/*    max-height: 500px;*/
    margin-top: 100px;
    overflow:scroll
}
.ept{
/*    background: red;*/
/*    margin-left: 10%;*/
        margin-right: 10%;

    width : 95%;
/*    ba*/
}
.bdy::-webkit-scrollbar{
    display:none;
}

body::-webkit-scrollbar{
    display:none;
}
#buy{
    width:75%;
    height : 55px;
    font-size: 27px;
    border-radius: 35px;
    border : 0px solid gray;
    outline:none;
    margin-left: 3%;
    font-weight: 550;
    color :  rgba(0,0,0,0.9);
    background: #FDBC40;
}

.pro{
    width  : 100%;
        border-top-right-radius: 20px;
            border-top-left-radius: 20px;

height : 80%;
}
.about{
    position : absolute;
    margin-top: 20px;
        margin-left: 5px;
    font-family: sans-serif;
    text-align: center;
/*width  :40%;*/
/*    font-weight: 700;*/
    font-size: 14px;
}
.des{
     position : absolute;
    margin-top: -0px;
        margin-left: 5px;
    font-family: sans-serif;
    text-align: center;
/*width  :40%;*/
    font-weight: 700;
}
.popular{
    width : 100%;
/*    height : 800px;*/
    overflow : scroll;
}

.popular::-webkit-scrollbar{
    display:none;
}
.prc{
    margin-left: 75%;
    font-size: 25px;
    margin-top: -0px;
    padding-top: 8px;
    color : orange;
    font-weight: 700;
    font-family: sans-serif;
}

#icon{
/*    border : 2px solid red;  */
/*    color : orange;*/
    transition:  .5s ease-in-out;
}
a{
    color: black;
}
#cart:hover{
    color : white;
    background : hotpink;
    border : none;
   margin-top : -10px;
}
.prc::before{
    content:"₹"
}
.list1{
        margin-left: 5%;
overflow: hidden;
    background: white;
    border : 1px solid lightgray;
    background-size: 200px;
/*    border-radius: 20px;*/
    border-radius: 20px;
    width : 40%;
    max-width: 220px;
        min-width: 180px;

    height : 250px;
    display: inline-block;
}


/*==============  Home Page Css Starts Here==========*/

.hd{
    padding  :10px;
 background: #f4efef;
}